/* Contenedor principal centrado */
.bento-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Opcional: agrega algo de espacio alrededor de la cuadrícula */
}

/* Cuadrícula de Bento */
.bento-grid {
  display: grid;
  gap: 10px;
  width: 100%;
  max-width: 700px; /* Asegura que la cuadrícula no se extienda demasiado en pantallas grandes */
  justify-content: center; /* Centra los elementos en el eje horizontal */
}

/* Estilo del contenedor de la imagen */
.bento-item {
  width: 100%;
  overflow: hidden; /* Oculta la parte que sobresale del contenedor */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0px 0px 28px -13px rgba(0,0,0,0.5); /* Sombra */
  background-color: #f0f0f0; /* Color de fondo */
  position: relative; /* Necesario para el posicionamiento de la imagen */
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Estilo de la imagen para todos los elementos .bento-item */
.bento-item img {
  width: 100%;
  position: absolute;
  top: 0; /* Inicialmente muestra la parte superior de la imagen */
  left: 0;
  transition: top 2s ease; /* Transición suave para revelar la imagen */
}

/* Estilo para mostrar más de la imagen al pasar el ratón */
.item1:hover img {
  top: -850px; /* Ajusta este valor según sea necesario para revelar más de la imagen */
}

.item2:hover img,
.item3:hover img {
  top: -752px; /* Ajusta este valor según sea necesario para revelar más de la imagen */
}

/* Animación de balanceo */
@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.animated-heading {
  font-size: 50px;
  display: inline-block;
  animation: swing 4s ease-in-out infinite;
}

.span-texto {
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #3b82f6;
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
  .bento-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
  }

  .item1 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #ff9999;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 576px) and (max-width: 767px) {
  .-mx-3{
    display: grid;
  }


  .bento-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
  }

  .item1 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #ff9999;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 575px) {

  .-mx-3{
    display: grid;
  }


  .animated-heading {
    font-size: 30px;
  }
  
  .item1:hover img{
    top: -700px;
  }

  .item2:hover img,
  .item3:hover img {
    top: -1052px; /* Ajusta este valor según sea necesario para revelar más de la imagen */
  }

  .bento-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
  }

  .item1,
  .item2,
  .item3 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #f0f0f0;
  }
}


/* Estilos para pantallas pequeñas */
@media (max-width: 420px) {
  
}


